<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

    <h1>UIUC Research</h1>
    <form action="">
      Project Title:<br>
      <input type="text" id="userinput" value="Title">
      <br>
      Email:<br>
      <input type="text" id="userinput" value="Email">
      <br><br>
    </form>

    <select>
      <option value="Website">Website</option>
      <option value="Poster/Flyer">Poster/Flyer</option>
      <option value="Mobile App">Mobile App</option>
      <option value="Logo">Logo</option>
    </select>
    <br> <br>
    <a type="button" class="btn btn-lg btn-default" href=""> Submit </a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Please submit the above before moving down below.
  </div>
  <hr>
  <div class="jumbotron text-center">
    <div class="container">

      <h1>UIUC Research Part 2</h1>
      <form action="">
        <input type="file" name="pic" accept="image/*">
        <input type="submit">
      </form>

      <form action="">
        Design Description:<br>
        <input type="text" class="userinput" value="">
        <br>
        Questions for Feedback:<br>
        <input type="text" class="userinput" value="">
        <br><br>
      </form>

      <select>
        <option value="Website">Website</option>
        <option value="Poster/Flyer">Poster/Flyer</option>
        <option value="Mobile App">Mobile App</option>
        <option value="Logo">Logo</option>
      </select>
      <br> <br>
      <a type="button" class="btn btn-lg btn-default" href=""> Submit </a>
    </div>
  </div>
   <div class="alert alert-info text-center" role="alert">
  Thanks for filling out the form!
  </div>
</div>


</body>
</html>
